---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="services-container">
        <h1>Info</h1>
        <p>
            This site uses <a href="https://astro.build" target="_blank">Astro.Js</a>, along
            with NPM (though I plan to migrate soon)

            <h1>Also...</h1>
            <li>
                Github URL: <a
                    href="https://github.com/SHAPeS-Software/shapespage"
                     target="_blank"
                    >shapespage</a
                >
                <li>
                    reading-time: To get a accurate reading time for each post.
                </li>
            </li>

            <p><b>Site build: 02102026-prod</b></p>
        </p>
    </div>
</Layout>

<style>
    .services-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 2rem;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #fff;
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    a {
        text-decoration: none;
        color: palegreen;
    }
    a:hover {
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        .services-container {
            padding: 1rem;
        }

        h1 {
            font-size: 2rem;
        }
    }
</style>
